<!doctype html>
<html>

<head>
    <title>Cornell Notes</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Cornell Notes</h1>

            <p>Log In or Sign Up:</p>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Log In</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Sign Up</a>
        </div>
    </div>
</body>

</html>